{% extends 'base.html.twig' %}

{% block title %}Edit Establishment{% endblock %}

{% block body %}
    <h1>Edit Establishment</h1>

    {{ include('establishment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_establishment_index') }}" class="btn bg-info text-white mb-2 mt-2">back to list</a>

    {{ include('establishment/_delete_form.html.twig') }}
{% endblock %}